<div class="container mt-5">
  <div class="row">
    <div class="col-lg-10 offset-lg-1">
      <div class="card">
        <div class="card-body text-center">
          <span class="titulo">Obras sociales</span>
          <div *ngIf="listOs; else nohay" class="mt-3">
            <div class="os-container">
              <ng-container *ngFor="let os of listOs">
                <div class="col">
                  <div class="card">
                    <img src="{{os.imgURL}}" class="card-img-top" alt="Obra Social Image">
                    <div class="card-body">
                      <h5 class="card-title">{{ os.nombre }}</h5>
                      <i *ngIf="os.flag==0" (click)="addOs(id,os._id)" class="fa-solid fa-check text-primary"></i>
                      <i *ngIf="os.flag==1" (click)="deleteOS(this.id,os._id)"
                         class="fa-solid fa-trash text-danger"></i>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
          <ng-template #nohay><h5>It seems that there aren't any OS</h5></ng-template>
        </div>
      </div>
    </div>
  </div>
</div>

