<div class="home">
    <section class="hero">
        <div class="hero-section">
          <div class="sub-heading-parent">
            <b class="sub-heading">Happy Dental</b>
            <h1 class="heading">Tu Sonrisa, Tu Prioridad.</h1>
            <div class="hero-description">
              <div class="hero-paragraph">
                En nuestra clínica odontológica, ofrecemos un cuidado dental integral y personalizado. 
                    Nuestro equipo de expertos está comprometido con su salud bucal, utilizando tecnología avanzada para proporcionar tratamientos efectivos y cómodos.
              </div>
            </div>
            <button class="button1">
              <div class="hero-button-label">
                <div class="make-appointment1">Sacar Turno</div>
              </div>
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5 12H19" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M12 5L19 12L12 19" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </button>
          </div>
          <div class="hero-image-wrapper">
            <div class="hero-image-placeholder"></div>
            <div class="image-decoration">
              <div class="image-decoration-single"></div>
              <div class="image-decorations">
                <div class="image-decoration-element"></div>
                <div class="image-decoration-duplicate"></div>
              </div>
              <div class="image-decorations1">
                <div class="image-decorations-child"></div>
                <div class="image-decorations-item"></div>
              </div>
            </div>
          </div>
        </div>
    </section>

    <section class="how-it-works">
        <div class="process-container">
          <div class="background-shape">
            <div class="shape1"></div>
          </div>
          <div class="sub-heading4">Como Trabajamos</div>
          <h1 class="heading4">Su viaje hacia una sonrisa saludable comienza aquí</h1>
        </div>
        <div class="icon-box">
          <div class="icon-box-1">
            <img class="icon6" alt="" src="/assets/public/icon-5.svg" />

            <div class="title">
              <b class="make-appointment3">Sacá Turno</b>
              <div class="step-description">
                Etiam fusce arcu ac auctor nisl purus consectetur. Eu viverra
                ultricies sit.
              </div>
            </div>
          </div>
          <div class="icon-box-2">
            <img class="icon7" alt="" src="/assets/public/icon-6.svg" />

            <div class="title1">
              <h1 class="expert-dental-care">Atención experta</h1>
              <div class="text3">
                Etiam fusce arcu ac auctor nisl purus consectetur. Eu viverra
                ultricies sit.
              </div>
            </div>
          </div>
          <div class="icon-box-3">
            <img class="icon8" alt="" src="/assets/public/icon-1.svg" />

            <div class="title2">
              <b class="radiate-confidence">Irradia confianza</b>
              <div class="text4">
                Etiam fusce arcu ac auctor nisl purus consectetur. Eu viverra
                ultricies sit.
              </div>
            </div>
          </div>
        </div>
        <div class="text5">
          Purus turpis vivamus sem est blandit. In at egestas id sollicitudin
          mattis integer aliquet ut tempor. Risus enim nisi ipsum imperdiet. Sed
          turpis tellus quisque tellus ipsum.
        </div>
        <div class="process-action">
          <div class="button-container">
            <button class="button3">
              <div class="make-appointment-wrapper">
                <div class="make-appointment4">Sacar Turno</div>
              </div>

              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5 12H19" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M12 5L19 12L12 19" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>

            </button>
          </div>
          <img class="shape-icon1" alt="" src="/assets/public/shape-1@2x.png" />

        </div>
    </section>

    <footer class="footer">
        <div class="footer-container">

          <div class="footer-content">

            <div class="brand-info">

              <h1 class="happydental1">
                <span class="happy1">HAPPY</span>
                <span class="dental1">DENTAL</span>
              </h1>
              <div class="brand-description">
                <div class="slogan">
                    Tu sonrisa, nuestra prioridad. En nuestra clínica, transformamos salud y belleza dental con dedicación y tecnología avanzada. 
                        Confía en nosotros para cuidar tu sonrisa.
                </div>
                <div class="icon9" style="margin-top:20px;">
                    <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="44" height="44" fill="#053B3F"/>
                        <path d="M30.25 15.25C29.5318 15.7566 28.7366 16.1441 27.895 16.3975C27.4433 15.8781 26.843 15.51 26.1753 15.3429C25.5076 15.1758 24.8046 15.2179 24.1616 15.4633C23.5185 15.7088 22.9663 16.1458 22.5797 16.7153C22.1931 17.2847 21.9908 17.9592 22 18.6475V19.3975C20.682 19.4316 19.376 19.1393 18.1983 18.5466C17.0206 17.9538 16.0077 17.079 15.25 16C15.25 16 12.25 22.75 19 25.75C17.4554 26.7984 15.6154 27.3242 13.75 27.25C20.5 31 28.75 27.25 28.75 18.625C28.7493 18.4161 28.7292 18.2077 28.69 18.0025C29.4555 17.2476 29.9956 16.2945 30.25 15.25Z" fill="white"/>
                    </svg>

                    <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="44" height="44" fill="#053B3F"/>
                        <g clip-path="url(#clip0_1_463)">
                        <path d="M25.75 14.5H18.25C16.1789 14.5 14.5 16.1789 14.5 18.25V25.75C14.5 27.8211 16.1789 29.5 18.25 29.5H25.75C27.8211 29.5 29.5 27.8211 29.5 25.75V18.25C29.5 16.1789 27.8211 14.5 25.75 14.5Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M25 21.5275C25.0926 22.1517 24.9859 22.7891 24.6953 23.3492C24.4047 23.9093 23.9449 24.3635 23.3812 24.6472C22.8176 24.9309 22.1788 25.0297 21.5558 24.9294C20.9328 24.8292 20.3573 24.535 19.9111 24.0889C19.4649 23.6427 19.1708 23.0671 19.0705 22.4441C18.9703 21.8211 19.069 21.1824 19.3527 20.6188C19.6364 20.0551 20.0906 19.5953 20.6507 19.3047C21.2108 19.014 21.8483 18.9074 22.4725 19C23.1092 19.0944 23.6986 19.3911 24.1538 19.8462C24.6089 20.3013 24.9056 20.8908 25 21.5275Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M26.125 17.875H26.135" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_1_463">
                        <rect width="18" height="18" fill="white" transform="translate(13 13)"/>
                        </clipPath>
                        </defs>
                    </svg>
                        

                    <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="44" height="44" fill="#053B3F"/>
                        <g clip-path="url(#clip0_1_468)">
                        <path d="M29.905 17.815C29.8159 17.4591 29.6345 17.1329 29.379 16.8696C29.1235 16.6062 28.8031 16.4149 28.45 16.315C27.16 16 22 16 22 16C22 16 16.84 16 15.55 16.345C15.1969 16.4449 14.8765 16.6362 14.621 16.8996C14.3655 17.1629 14.1841 17.4891 14.095 17.845C13.8589 19.1542 13.7434 20.4822 13.75 21.8125C13.7416 23.1528 13.8571 24.491 14.095 25.81C14.1932 26.1549 14.3787 26.4686 14.6336 26.7209C14.8885 26.9731 15.2041 27.1554 15.55 27.25C16.84 27.595 22 27.595 22 27.595C22 27.595 27.16 27.595 28.45 27.25C28.8031 27.1501 29.1235 26.9588 29.379 26.6954C29.6345 26.4321 29.8159 26.1059 29.905 25.75C30.1393 24.4507 30.2548 23.1327 30.25 21.8125C30.2584 20.4722 30.1429 19.134 29.905 17.815Z" fill="white" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M20.3125 24.265L24.625 21.8125L20.3125 19.36V24.265Z" fill="#053B3F" stroke="#053B3F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_1_468">
                        <rect width="18" height="18" fill="white" transform="translate(13 13)"/>
                        </clipPath>
                        </defs>
                    </svg>
                        
                </div>
              </div>
            </div>

            <div class="navigation-links">

              <div class="navigation">
                <b class="heading5">Navegación</b>
                <div class="text-link">
                  <div class="home2">Inicio</div>
                  <div class="about-us1">Sobre Nosotros</div>
                  <div class="services2">Servicios</div>
                  <div class="contact-us1">Conacto</div>
                </div>
              </div>

              <div class="services3">
                <b class="heading6">Servicios</b>
                <div class="text-link1">
                  <div class="teeth-whitening1">Blanqueamientos</div>
                  <div class="dental-filling">Empaste dental</div>
                  <div class="teeth-checkup1">Chequeos</div>
                  <div class="teeth-implants1">Implantes </div>
                </div>
              </div>

              <div class="resources">
                <b class="heading7">Recursos</b>
                <div class="text-link2">
                  <div class="help-center">Atencion al Cliente</div>
                  <div class="documentation">Documentacion</div>
                  <div class="blog-guide">Blog & Guia</div>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="copyright">
          <div class="copyright1">

            <div class="copyright2">
              <div class="copyrigt-2023">Copyrigt © 2023 Happy Dental</div>
              <div class="legal-separator">
                <div class="separator"></div>
              </div>
              <div class="design-by-tokotema">Design & Develop Juan, Nacho, Valen </div>
            </div>

            <div class="copyright3">
              <div class="terms-of-use">Terms of Use</div>
              <div class="copyright-inner">
                <div class="frame-child"></div>
              </div>
              <div class="privacy-policy">Privacy Policy</div>
            </div>

          </div>
        </div>
      
    </footer>

</div>