<div class="container">
    <h2 class="title">Listado de turnos por paciente:</h2>
    
    <!-- Campo de entrada para filtrar por día -->
    <div class="filter-container">
      <input type="date" [(ngModel)]="filterDate" placeholder="Selecciona una fecha" />
      <button (click)="applyFilter()">Filtrar</button>
    </div>
    
    <div class="table-container">
      <table class="styled-table">
        <thead>
          <tr>
            <th>Día</th>
            <th>Paciente</th>
            <th>Profesional</th>
            <th>Obra Social</th>
            <th>Práctica</th>
            <th>Costo</th>
            <th>Pagado</th>
            <th>Observación</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let turno of filteredTurnos">
            <td>{{ turno.dia | date: 'dd-MM-yyyy' }}</td>
            <td>{{ turno.pacienteNombre }} {{ turno.pacienteApellido }}</td>
            <td>{{ turno.professionalNombre }} {{ turno.professionalApellido }}</td>
            <td>{{ turno.obraSocialNombre }}</td>
            <td>{{ turno.practicaNombre }}</td>
            <td>{{ turno.costo }}</td>
            <td>{{ turno.pagado }}</td>
            <td>{{ turno.observacion }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  
  <style>
    .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .title {
    margin-bottom: 20px;
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
  }
  
  .table-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .styled-table {
    width: 80%; /* Adjust as needed */
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  
  .styled-table thead tr {
    background-color: #3F6481;
    color: #ffffff;
    text-align: left;
  }
  
  .styled-table th,
  .styled-table td {
    padding: 12px 15px;
  }
  
  .styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  .styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  .styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #3F6481;
  }
  
  .styled-table tbody tr.active-row {
    font-weight: bold;
    color: #3F6481;
  }  
  </style>
