<div *ngIf="token==null" class="container mt-5">
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <div class="card">
        <div class="card-body text-center">
          <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
            <div class="mb-3">
              <label>Mail</label>
              <input type="text" class="form-control" formControlName="mail">
            </div>
            <div class="mb-3">
              <label>Password</label>
              <div class="input-group">
                <input type="password" class="form-control" formControlName="password">
              </div>
            </div>
            <div *ngIf="showError" class="text-danger mb-3">
              Usuario o contraseña incorrectos. Por favor, inténtalo de nuevo.
            </div>
            <input type="submit" value="Enviar" class="btn btn-info">
            <button (click)="redireccion()" style="margin-left: 10px" class="btn btn-secondary">
              Registrarse
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
