
.footer {
  background-color: #1B4D3E;
}

h5 {
  color: #fefefe;
}

p {
  color: #fefefe;
}

.carousel-caption {

  filter: alpha(opacity=80);
}

mdb-carousel {
  margin-bottom: 20px;
}

mdb-carousel-item img {
  height: 400px;
  object-fit: cover;
}

.carousel-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(27, 77, 62, 0.50);
  padding: 20px;
  color: #fff;
}

.carousel-caption h5 {
  font-size: 24px;
  margin-bottom: 10px;
}

.carousel-caption p {
  font-size: 16px;
}

@media (min-width: 768px) {
  mdb-carousel-item img {
    height: 600px;
  }

  .carousel-caption {
    padding: 40px;
  }

  .carousel-caption h5 {
    font-size: 36px;
    margin-bottom: 20px;
  }

  .carousel-caption p {
    font-size: 20px;
  }

  .text-white {
    font-size: 1.5rem;
    margin-left: 32px;
  }

  .icon {
    margin-right: 16px; /* Ajusta el tamaño de la separación según tus preferencias */
  }

  .text {
    color: #fefefe;
    font-size: 2.5rem;

  }

  .mapa-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    overflow: hidden;
    padding: 0;
  }

  #map {
    height: 200px;
    width: 100%;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
  }

  .card-footer {
    background-color: #f8f9fa;
    padding: 10px;
    text-align: center;
    border-top: 1px solid #dee2e6;
  }

  .card-footer p {
    margin-bottom: 0;
    color: #495057;
  }

}
