<div class="container mt-5">
  <div class="row">
    <div class="col-lg-10 offset-lg-1">
      <div class="card">
        <div class="card-body text-center table-responsive">
          <span class="titulo">Listado de Practicas</span>
          <button *ngIf="this.master=='true'" class="btn btn-success float-end" routerLink="/create-practice">Nuevo
          </button>
          <table *ngIf="listPractice; else nohay" class="table table-striped mt-3">
            <thead>
            <tr>
              <th scope="col" class="text-center">Nombre</th>
              <th scope="col" class="text-center"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let practice of listPractice">
              <td class="text-center align-middle">{{ practice.nombre }}</td>
              <td class="text-center align-middle">
                <i *ngIf="this.master=='true'" [routerLink]="['/editar-practice', practice._id]"
                   class="fa-solid fa-pen-to-square text-primary"></i>
                <i *ngIf="this.master=='true'" (click)="eliminarPractice(practice._id)" style="margin-left: 10px;"
                   class="fa-solid fa-trash text-danger"></i>
              </td>
            </tr>
            </tbody>
          </table>
          <ng-template #nohay><h5 class="text-center">No hay pacientes</h5></ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
