<nav class="navbar navbar-expand-lg ">
  <div class="container-fluid">
    <img width="55" height="55" src="https://img.icons8.com/clouds/100/tooth.png" alt="tooth"/>
    <a style="margin-top:5px;" class="navbar-brand text-light" href="#">
      Clinica Odontológica
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="navbar-nav me-auto" style="margin-top: 5px;"> 
      <a class="nav-item nav-link text-light aa" href="list-professional">Profesionales</a>
      <a class="nav-item nav-link text-light aa" [routerLink]="['/list-turnos', '65f0eea559f713b5d8584b1c']">Turnos</a>
      <a class="nav-item nav-link text-light aa" href="list-practice">Practicas</a>
      <a class="nav-item nav-link text-light aa" href="list-os">Obra Sociales</a>
      <a class="nav-item nav-link text-light aa" href="bottom">Contacto</a>
      <a *ngIf="token==null" class="nav-item nav-link text-light ms-auto aa" href="login">Login</a>
      <a *ngIf="token!=null" (click)="cerrarSec()" class="nav-item nav-link text-light ms-auto aa" href="#">LogOut</a>
    </ul>
    <div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>

