/* You can add global styles to this file, and also import other style files */
body {

  background: #CAF4FF; /*#085078;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #CAF4FF, #CAF4FF);
  background: linear-gradient(to right, #CAF4FF, #CAF4FF);

}

@import "~mdb-angular-ui-kit/assets/scss/mdb.scss";

.navbar {
  background-color: #5AB2FF;

}

.navbar-brand {
  font-family: "Baskerville Old Face";
  max-height: 40px;
  margin-top: -10px;

}

.logo {
  color: white;
}

.titulo {
  font-size: 1.8rem;
}
