<div *ngIf="this.master=='true'" class="container mt-5">
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <div class="card">
        <div class="card-body text-center">
          <span class="titulo"> {{ titulo | uppercase }}</span>

          <!--Modificar Practice-->

          <form class="mt-3" *ngIf="this.id != null ; else nuevo" [formGroup]="practiceForm"
                (ngSubmit)="updatePractice(this.id)">
            <div class="mb-3">
              <input type="text" formControlName="nombre" class="form-control form-control-lg"
                     placeholder="Nombre">
              <div class="text-danger"
                   *ngIf="practiceForm.get('nombre')?.hasError('required') && practiceForm.get('nombre')?.touched">
                <span>El nombre <strong>es obligatorio</strong></span>
              </div>
            </div>
            <div class="mb-3">
              <button [routerLink]="['/list-practice']" class="btn btn-secondary btn-lg float-start">VOLVER</button>
              <button type="submit" [disabled]="practiceForm.invalid" class="btn btn-success btn-lg float-end">ACEPTAR
              </button>
            </div>

          </form>

          <!--Agregar paciente nuevo-->

          <ng-template #nuevo>
            <form class="mt-3" [formGroup]="practiceForm" (ngSubmit)="createPractice()">
              <div class="mb-3">
                <input type="text" formControlName="nombre" class="form-control form-control-lg"
                       placeholder="Nombre">
                <div class="text-danger"
                     *ngIf="practiceForm.get('nombre')?.hasError('required') && practiceForm.get('nombre')?.touched">
                  <span>El nombre <strong>es obligatorio</strong></span>
                </div>
              </div>
              <div class="mb-3">
                <button [routerLink]="['/list-practice']" class="btn btn-secondary btn-lg float-start">VOLVER</button>
                <button type="submit" [disabled]="practiceForm.invalid" class="btn btn-success btn-lg float-end">
                  ACEPTAR
                </button>
              </div>
            </form>
          </ng-template>

        </div>
      </div>
    </div>
  </div>
</div>
